@charset "UTF-8";

/*
    em HTML é id = CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(169, 231, 178);
}

h1 {
    color: rgb(28, 129, 53);
}

h1#principal {
    text-align: center;
    background-color: rgb(28, 129, 53);
    color: white;
}

h2 {
    color: rgb(2, 138, 143);
}